{% extends "admin/base_site.html" %}
{% load i18n admin_static %}

{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% static "admin/css/dashboard.css" %}" />

<style media="screen">
.content-block{
  padding: 0;
}
.main-icon{
  width: 85px;
  height: 85px;
  border-radius: 50%;
  display: inline-block;
}
.main-icon svg{
  margin-top:20px;
}
.main-item p{
  color:black;
  font-size: 16px;
  margin-top: 1em;
}
.main {
  text-align: center;
}
.main .main-item {
  display: inline-block;
  margin: 4.5em;
}
.main-item:hover {
  text-decoration: none;
}
</style>
{% endblock %}

{% block coltype %}colMS{% endblock %}

{% block bodyclass %}{{ block.super }} dashboard{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block content %}
{% if request.user.is_superuser %}
<div  class="col-md-12 config-col">
<ul class="nav nav-tabs" id="configTab"><br>
</ul>
<div class="panel panel-default">
  <div style="text-align:center" class="panel-body">
    <div class=" main">
      <a href="/admin/personas/estudiantes/" class=" main-item">
        <img src="{% static '/assets/images/listar.svg' %}" alt="" style="width:100px;">
        <p>
          Listado de <br> Personas
        </p>
      </a>
      <a href="/admin/recursos/recurso/" class=" main-item">
        <img src="{% static '/assets/images/gestion.svg' %}" alt="" style="width:100px;">
        <p>
          Gestion de <br> Recursos
        </p>
      </a>
      <a href="/admin/Prestamo/Prestar/" class="main-item">
        <img src="{% static '/assets/images/prestar.svg' %}" alt="" style="width:100px;">
        <p>
          Prestar <br> Recursos
      </div>
    </a>
    <br>

  </div>
</div>
</div>

{% else %}
<div  class="col-md-12 config-col">
<ul class="nav nav-tabs" id="configTab"><br>
</ul>
<div style="box-shadow: 0 1px 0px 0px rgba(0,0,0,.2)" class="panel panel-default">
  <div style="text-align:center" class="panel-body">
    <br>
    <h3 style="color:gray; font-size:20px;">Bienvenido la plataforma del area de TIC de la Universidad Cooperativa de Colombia</h3>
    <br>
    <div class=" main">
        </div>
        <a href="/admin/Prestamo/Prestar/" class="main-item">
          <img src="{% static '/assets/images/prestar.svg' %}" alt="" style="width:100px;">
          <p>
            Prestar <br> Recursos
        </div>
      </a>
    <br>

  </div>
</div>
</div>


{% endif %}

{% endblock %}

{% block sidebar %}
<div id="content-related">

</div>
{% endblock %}
