{% extends 'admin/login.html' %}
{% load i18n %}
{% load static %}

{% block extrastyle %}

   <style>
        #header {
        background-color: #fff !important;
        }

        body.login .submit-row input[type='submit'] {
          background-color: #035A7B;
        }

        body.login .form-row input:not([type='hidden']):not(:focus){
          border-color: #035A7B;
        }

        .form-control:focus{
          border-color: #035A7B;
        }

    </style>
{% endblock %}

{% block branding %}
    <div class="suit-login-graphic">
        <img style="width: 100px"  class="logo-menu" src="{% static 'assets/images/logo.svg'%}" alt="logo">
    </div>

    <h3>Ingresar</h3>

{% endblock %}
