
{% extends "admin/base_site.html" %}
{% load i18n %}
{% load static %}

{% block extrastyle %}
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
     <link  rel="stylesheet" href="{% static '/assets/css/header.css' %}"/>
     <link rel="stylesheet" href="{% static '/assets/css/usuario.css' %}" media="screen" title="no title" charset="utf-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
{%endblock%}

{% block content %}
<div class="container">
<div  class="col-12 col-md-8">

      <div class="my-3 p-3 bg-white rounded box-shadow">
        <h6 class="border-bottom border-gray pb-2 mb-0">Detalle Prestamo</h6>
          <hr/>
        <table id="result_list">
        <thead>
        <tr>

        <th scope="col"  class="sortable column-Id_prestamo">

           <div class="text"><a href="#">Id Detalle</a></div>
           <div class="clear"></div>
        </th>
        <th scope="col"  class="sortable column-Persona">

           <div class="text"><a href="#">Id Recurso</a></div>
           <div class="clear"></div>
        </th>
        <th scope="col"  class="sortable column-Estado_prestamo">

           <div class="text"><a href="#">Nombre Recurso</a></div>
           <div class="clear"></div>
        </th>
        <th scope="col"  class="sortable column-Fecha_prestamo">
           <div class="text"><a href="#">Estado</a></div>
           <div class="clear"></div>
        </th>

        <th scope="col"  class="sortable column-Fecha_prestamo">

           <div class="text"><a href="#">Usuario Devolucion</a></div>
           <div class="clear"></div>
        </th>

        <th scope="col"  class="sortable column-Fecha_prestamo">

           <div class="text"><a href="#">Devolver Recurso</a></div>
           <div class="clear"></div>
        </th>

        </tr>
        </thead>
        <tbody  id="tabla">

        </tbody>
        </table>
        </div>
</div>
<div  class="col-12 col-md-6">
      <div class="my-3 p-3 bg-white rounded box-shadow">
       <h5 class="mb-3">Datos Del Prestamo </h5>
        <hr/>
         <div class="row">
           <div class="col-md-6 mb-3">
             <h6 >ID Prestamo</h6>
             <label for="firstName" id="idp"></label>
           </div>
           <div class="col-md-6 mb-3">
             <h6 >Fecha De Prestamo</h6>
             <label for="firstName" id="fechap"></label>
           </div>
           <div class="col-md-6 mb-3">
             <h6 >Usuario</h6>
             <label for="firstName" id="usuariop"></label>
           </div>
           <div class="col-md-6 mb-3">
             <h6 >Estado Del Prestamo</h6>
             <label for="firstName" id="estadop"></label>
           </div>

           <div class="col-md-12 mb-12">
              <hr/>
             <h5 class="mb-3">Datos Del Usuario </h5>
              <hr class="mb-4">
           </div>
             <hr class="mb-4">
           <div class="col-md-6 mb-3">
             <h6 >Nombre & Apellidos</h6>
             <label for="firstName" id="nombpersonap"></label>
           </div>
           <div class="col-md-6 mb-3">
             <h6 >N° Tarjeta</h6>
             <label for="firstName" id="tarpersonap"></label>
           </div>
           <div class="col-md-6 mb-3">
             <h6 >Tipo De Documento</h6>
             <label for="firstName" id="tipodocpersonap" ></label>
           </div>
           <div class="col-md-6 mb-3">
             <h6 >N° Documento</h6>
             <label for="firstName"id="nrodocumentop"></label>
           </div>
           <div class="col-md-6 mb-3">
             <h6 >Programa Academico</h6>
             <label for="firstName" id="propersonap"></label>
           </div>
           <div class="col-md-6 mb-3">
             <h6 >Cargo o Tipo</h6>
             <label for="firstName" id="cargopersonap"></label>
           </div>
           <div class="col-md-6 mb-3">
             <h6 >Incidentes</h6>
             <label for="firstName" id="incidenteper"></label>
           </div>
           <div class="col-md-6 mb-3">
             <h6 >Cantidad Incidentes</h6>
             <label for="firstName" id="cantincidentesp"></label>
           </div>
         </div>
      </div>
    </div>
</div>

<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Regresar Recurso</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

            <label for="exampleFormControlFile1">¿El recurso registra alguna incidencia?</label>
            <select class="form-control" id="selected"  onchange="select()">
              <option value="0">--</option>
              <option value="Si">Si</option>
              <option value="No">No</option>
            </select>
            <br/>
              <label for="exampleFormControlFile1" id="label">Escriba toda la informacion posible y detallada sobre la incidencia ocurrida</label>
              <div class="input-group" id="incidencia">
              <div class="input-group-prepend">
                <span class="input-group-text" >Detalle incidencia</span>
              </div>
              <textarea class="form-control" aria-label="With textarea" id="textarea"></textarea>
            </div>
      </div>


      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" onclick="cerrar()">Cerrar</button>
        <button type="button" class="btn btn-primary" id="savebuton" onclick="devol()">Guardar</button>
      </div>
    </div>
  </div>
</div>

<style>
.detalle {
      background-color: #035a7b;
}
</style>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>
$( document ).ready(function() {
    LoadPrestamo();
    loadDetail()
    estadoPrestamo()
});

  var bandera = false;
  var dbRecursos = [];
  var idDetalle = "";
  var prestamo = {{ r.Id_prestamo }}
  var persona = {{r.Persona}}
  var usuario = {{user.id}}
  var token = "{{ csrf_token }}"
  var filasMostrar = "";
  var idRecurso="";

  // cerrar modal
  function cerrar(){
    $('#exampleModalCenter').modal('hide');
    var val = $("#selected").val("0")
  }
  // abrir modal
  function devolucion(id,recurso){
    idDetalle = id
    idRecurso= recurso
    $('#exampleModalCenter').modal('show');
    $('#incidencia').hide();
    $('#label').hide();
    $('#savebuton').attr("disabled", true);
  }

  //funcion para el select de el modal de la devolucion
  function select(){
    var val = $("#selected").val();
    if(val == "Si"){
        $('#savebuton').attr("disabled", false);
        $('#incidencia').show();
        $('#label').show();
    }else if (val == "No"){
      $('#savebuton').attr("disabled", false);
      $('#incidencia').hide();
      $('#label').hide();
    }else {
        $('#savebuton').attr("disabled", true);
        $('#incidencia').hide();
        $('#label').hide();
    }
  }

var token = "{{ csrf_token }}"
//funcion para devolver un recurso
  function devol(){
    idDetalle
    var val = $("#selected").val();
    if(val == "Si") {
      // si existe la incidencia se le cambia el estado al detalle del prestamo
      dp={
        "Estado": "EN REVISION",
      }
      axios.patch("/api/Prestamo/Detalle/" + idDetalle + "/", dp, {
          headers: {"X-CSRFToken": token,
          'Content-Type': 'application/json' }
      }).then(function (response) {
          // si es exitoso se le cambia el estado al recurso para que no este disponible a otro prestamo mientras esta en revision
          var recurso = response.data.Recurso_detalle.Id_recurso
          r={
            "Estado_Recurso": "EN MANTENIMIENTO",
          }
          axios.patch("/api/recurso/" + recurso + "/", r, {
              headers: {"X-CSRFToken": token,
              'Content-Type': 'application/json' }
          }).then(function (response) {
              //console.log(response);
          }).catch(function (error) {
              //console.log(error.response);
          });
      }).catch(function (error) {
          //console.log(error.response);
      });
      var date = new Date();
      var fecha  = date.getFullYear() +"-"+ date.getMonth() + "-" + date.getDate();
      var hora = date.getHours() + ":" + date.getMinutes() + ":"+ date.getSeconds();
      var texto = $("#textarea").val()
      var datos = {
          "Fecha_Incidente": fecha,
          "descripcion": texto,
          "Estado": "EN REVISION",
          "Recurso": idRecurso,
          "Prestamo": prestamo,
          "Persona": persona
      };
      //console.log(datos)
      axios.post("/api/Recurso/Incidente/", datos, {
          headers: {"X-CSRFToken": token}
      }).then(function (response) {
          //console.log(response);
      }).catch(function (error) {
        //  console.log(error);
      });
      $('#exampleModalCenter').modal('hide');
      var val = $("#selected").val("0");
      var texto = $("#textarea").val("");
    }else{
      // si existe la incidencia se le cambia el estado al detalle del prestamo
      var date = new Date();
      var fecha  = date.getFullYear() +"-"+ date.getMonth() + "-" + date.getDate();
      dp={
        "Estado": "DEVUELTO",
        "Fecha_devolucion": fecha,
        "Usuario_devolucion": persona
      }
      axios.patch("/api/Prestamo/Detalle/" + idDetalle + "/", dp, {
          headers: {"X-CSRFToken": token,
          'Content-Type': 'application/json' }
      }).then(function (response) {
      }).catch(function (error) {
      });
      //se reinician los campos y las variables para una nueva devolucion
      $('#exampleModalCenter').modal('hide');
      var val = $("#selected").val("0");
      var texto = $("#textarea").val("");
    }
    loadDetail()
    estadoPrestamo()
  }

  function LoadPrestamo(){
    var datos = {}
    // datos del prestamo
    axios.get('/api/Prestamo/'+ prestamo)
      .then(function (response) {
            var datos = response.data;
            var nombre = datos.Persona.Primer_Nombre + " " +datos.Persona.Primer_Apellido + " " +datos.Persona.Segundo_Apellido
            $("#idp").text(datos.Id_prestamo);
            $("#fechap").text(datos.Fecha_prestamo);
            $("#usuariop").text(datos.Usuario_Prestatario.get_full_name.toUpperCase());
            $("#estadop").text(datos.Estado_prestamo.toUpperCase());
            $("#nombpersonap").text(nombre.toUpperCase());
            $("#tarpersonap").text(datos.Persona.Nro_Tarjeta);
            $("#tipodocpersonap").text(datos.Persona.Tipo_Documento);
            $("#nrodocumentop").text(datos.Persona.Nro_Documento);
            $("#propersonap").text(datos.Persona.Programa_Academico.nombre.toUpperCase());
            $("#cargopersonap").text(datos.Persona.Tipo_Persona);
            if(datos.Persona.Incidentes.length == 0){
                $("#incidenteper").text("NO");
            }else{
              $("#incidenteper").text("SI");
            }
            $("#cantincidentesp").text(datos.Persona.Incidentes.length)
      })
      .catch(function (error) {
        console.log(error);
      });
    }

  function loadDetail(){
    $("#tabla").empty();
    axios.get('/api/Prestamo/'+ prestamo)
      .then(function (response) {
      var datos = response.data;
      for(var key in datos.detailprestamo){
        //obtener el recurso y mostrar sus datos en la tabla
          var usuario = " "
          if(datos.detailprestamo[key].Estado ==="DEVUELTO"){
              usuario = datos.detailprestamo[key].Usuario_devolucion
            //console.log(usuario)
              var row = '<tr class="row1" >' +
                     '<td class="field-Id_prestamo">' + datos.detailprestamo[key].Id_detalle+ "</td>"+
                    "<td>" + datos.detailprestamo[key].Recurso_detalle.Id_recurso + "</td>"+
                     "<td>" + datos.detailprestamo[key].Recurso_detalle.nombre_recurso  + "</td>"+
                     "<td>" + datos.detailprestamo[key].Estado + "</td>"+
                     "<td>" + usuario +  "</td>"+
                     "</tr>";
                  $("#tabla").append(row);
          }else{
            var row = '<tr class="row1" >' +
                 '<td class="field-Id_prestamo">' + datos.detailprestamo[key].Id_detalle+ "</td>"+
                "<td>" + datos.detailprestamo[key].Recurso_detalle.Id_recurso + "</td>"+
                 "<td>" + datos.detailprestamo[key].Recurso_detalle.nombre_recurso  + "</td>"+
                 "<td>" + datos.detailprestamo[key].Estado + "</td>"+
                 "<td>" + usuario+ "</td>"+
                 '<td> <i style="font-size:20px; display: flex;justify-content: center;" onclick="devolucion(' + datos.detailprestamo[key].Id_detalle+"," + datos.detailprestamo[key].Recurso_detalle.Id_recurso+ ')"  class="fa fa-chevron-circle-left devolver" aria-hidden="true"></i></td>'+
                 //'<td><button class="btn btn-warnig" onclick="modificar('+datos[key].Nombre+','+datos[key].Apellidos+','+datos[key].Edad+')">Modificar</button></td>'
                 "</tr>";
                 $("#tabla").append(row);
               }
          }
        })
      .catch(function (error) {
        console.log(error);
      });
    }

    function estadoPrestamo(){
      axios.get('/api/Prestamo/'+ prestamo)
        .then(function (response) {
          var datos = response.data;
          var bandera = false;
          if(datos.Estado_prestamo !=="DEVUELTO"){
            for (detalles in datos.detailprestamo){
              if(datos.detailprestamo[detalles].Estado !=="DEVUELTO"){
                bandera = true;
                break;
              }
            }
            if(bandera == true){
              console.log("faltan recursos por devolver")
            }else{
              console.log("todos los recursos devueltos")

              p={
                "Estado_prestamo": "DEVUELTO",
              }
              axios.patch("/api/Prestamo/" + prestamo + "/", p, {
                  headers: {"X-CSRFToken": token,
                  'Content-Type': 'application/json' }
              }).then(function (response) {
                //console.log(responde.data)
                $("#estadop").text("DEVUELTO");
              }).catch(function (error) {
              });
            }
          }
        })
        .catch(function (error) {
          //console.log(error);
        });
    }
</script>
<style>
body {
  background-color: #f1f1f1;
 }
.card {
  border: 0px solid rgba(0,0,0,.125);
  box-shadow: -1 1px 0 0 #e4e4e4;
}
</style>
{% endblock %}
