{% extends "admin/base_site.html" %}
{% load i18n %}
{% load static %}

{% block extrastyle %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
     <link  rel="stylesheet" href="{% static '/assets/css/header.css' %}"/>
     <link rel="stylesheet" href="{% static '/assets/css/usuario.css' %}" media="screen" title="no title" charset="utf-8">
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">

    <style>

      .loader-box{
        display: block;
        margin-top: 0px;
      }
      .loader{
        border-bottom-width: 8px;
        border-top-width: 8px;
      }
      .img-loader{
         height: 50px;
      }
      .inputidestu{
        height: 33px;
        margin-top: 30px;
        margin-bottom: 26px;
      }
      .fa {
        color: #ff0000!important;
      }
      .botonadd{
        background-color: #035a7b;
        border-color: #035a7b;
      }

    </style>

{%endblock%}

{% block content %}
<div class="loader-box">
 <div class="lable" id="mensaje">Acerque la tarjeta al lector para leer .. </div>
  <br>
  <br>
  <br>
  <div class="loader">
    <div class="element-animation">
      <img class="img-loader" src="{% static '/assets/images/id.png' %}" width="100" height="70";>
    </div>
  </div>
</div>
<div class="container inputidestu" style="height: 33px;" id="#inputidestu">
  <input  id="idestu" autofocus type="text" placeholder="IdEstudiante" onkeydown="buscar(this)"/>
</div>

<div class="container perfil">
        <div class="col-4 col-md-6">
          <div class="mensaje-alerta">
          </div>
          <h4 class="d-flex justify-content-between align-items-center mb-3">
            <span class="text-muted">Carrito De Prestamo</span>
            <span class="badge badge-secondary badge-pill" id="cantidad">0</span>
          </h4>
          <div class="card p-2">
            <div class="input-group">
              <input type="text" id="add" class="form-control" placeholder="Codigo De Recurso" onkeydown="buscarp()">
              <div class="input-group-append">

              </div>
            </div>
          </div>
          <ul class="list-group mb-3" id="listaRecursos">
          </ul>
          <hr/>
        </div>
        <div class="col-6 col-md-6">
           <hr/>
          <h4 class="mb-3">Datos Del Usuario <i class="fa fa-list-alt" style="color: #035a7b!important;" aria-hidden="true"></i></h4>
           <hr/>
            <div class="row">
              <!-- <div class="col-md-6 mb-5">
                <img class="card-img-top" src="{% static '/assets/images/foto.jpg' %}" alt="Card image cap">
              </div> -->
              <div class="col-md-6 mb-3">
                <h6>Nombre & Apellidos</h6>
                <label for="firstName" id="nombre"></label>
              </div>
              <div class="col-md-6 mb-3">
                <h6>N° Tarjeta</h6>
                <label for="firstName" id="tarjeta"></label>
              </div>
              <div class="col-md-6 mb-3">
                <h6>N° Documento</h6>
                <label for="firstName" id="documento"></label>
              </div>
              <div class="col-md-6 mb-3">
                <h6>Programa O Dependencia</h6>
                <label for="firstName" id="programa"></label>
              </div>
              <div class="col-md-6 mb-3">
                <h6>Cargo o Tipo</h6>
                <label for="firstName" id="cargo"></label>
              </div>
              <div class="col-md-6 mb-3">
                <h6>Incidentes</h6>
                <label for="firstName" id="incidentes"></label>
              </div>
              <div class="col-md-6 mb-3">
                <h6>Cantidad Incidentes</h6>
                <label for="firstName" id="cantincidentes"></label>
              </div>
            </div>
            <hr class="mb-4">
            <button class="btn btn-primary btn-lg btn-block" onclick="guardarPrestamo()">Guardar Prestamo</button>
        </div>
      </div>
    </div>
<script type="text/javascript" src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
<script type="text/javascript" src="{% static '/assets/js/prestamo.js' %}"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>

var usuario = "{{user.id}}"
console.log(usuario)
var detalleprestamo=[];
function guardarPrestamo(){

  var datos = generarJSON();
  var token = "{{ csrf_token }}"

  axios.post("/api/Prestamo/", datos, {
      headers: {"X-CSRFToken": token}
  })
    .then(function (response) {
      window.location.replace("/admin/prestamos/prestamo/")
    })
    .catch(function (error) {
      //console.log(error);
    });
return Mensaje(1);
}

function generarJSON(){
  // Seleccionamos los datos de los inputs de formulario
  var date =  new Date();
  var fecha  = date.getFullYear() +"-"+ (date.getMonth() + 1) + "-" + date.getDate()
  //console.log(fecha)
  var hora = date.getHours() + ":" + date.getMinutes() + ":"+ date.getSeconds();
  var recursos = DRecursos();
  for (i in recursos) {
    var recurso = recursos[i];
    //console.log(recurso)
    var usuario = "{{user.id}}"
    var detalle = {
      "Fecha_prestamo": fecha,
  		"Estado": "PRESTADO",
  		"DevolucionuserId": usuario,
  		"recursoid": recurso
  	}
    detalleprestamo.push(detalle)
    //console.log(detalleprestamo)
  }
  //console.log(detalleprestamo)
  var fecha  = date.getFullYear() +"-"+ (date.getMonth() + 1) + "-" + date.getDate()
  var hora = date.getHours() + ":" + date.getMinutes() + ":"+ date.getSeconds();
  var usuario = "{{user.id}}"
  var recursos = DRecursos();
  var datos = {
      "PrestatarioId": usuario,
      "personaId" : $("#tarjeta").text(),
      "Estado_prestamo": "EN CURSO",
      "Fecha_prestamo": fecha,
      "Hora_prestamo": hora,
      "Fecha_devolucion": fecha,
      "Hora_devolucion": hora,
      "detalleprestamo": detalleprestamo
  };
  return datos;
};
</script>
{% endblock %}
