{% extends "admin/base_site.html" %}
{% load i18n %}
{% load static %}

{% block extrastyle %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
     <link  rel="stylesheet" href="{% static '/assets/css/header.css' %}"/>
     <link rel="stylesheet" href="{% static '/assets/css/usuario.css' %}" media="screen" title="no title" charset="utf-8">
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">

    <style>

    </style>

{%endblock%}

{% block content %}
<div class="loader-box">
 <div class="lable" id="mensaje">Acerque la tarjeta al lector para leer .. </div>
  <br>
  <br>
  <br>
  <div class="loader">
    <div class="element-animation">
      <img src="{% static '/assets/images/id.png' %}" width="100" height="70";>
    </div>
  </div>
</div>
<div class="container inputidestu" style="height: 33px;" id="#inputidestu">
  <input  id="idestu" autofocus type="text" placeholder="IdEstudiante" onkeydown="buscar(this)"/>
</div>

<div class="container-fluid perfil" >
  <div class="mensaje-alerta">

  </div>
  <div class="row">
    <div class="col-8">
      <div class="card-header">
        <label for="searchbar">ID PRODUCTO</label>
        <input type="text" size="40" name="q" value="" id="idproduc" onkeydown="buscarp(this)" autofocus="">
      </div>

      <!-- incio tabla-->
      <div class="card">
        <!--<div class="card-header detalle">
          <h6>Recursos Prestados</h6>
        </div>-->
      <div class="results">
      <table id="result_list">
      <thead>
      <tr>

      <th scope="col"  class="sortable column-Id_prestamo">

         <div class="text"><a href="#">Id Recurso</a></div>
         <div class="clear"></div>
      </th>
      <th scope="col"  class="sortable column-Persona">



         <div class="text"><a href="#">Tipo Recurso</a></div>
         <div class="clear"></div>
      </th>
      <th scope="col"  class="sortable column-Estado_prestamo">



         <div class="text"><a href="#">Nombre Recurso</a></div>
         <div class="clear"></div>
      </th>
      <th scope="col"  class="sortable column-Fecha_prestamo">



         <div class="text"><a href="#">Estado Recurso</a></div>
         <div class="clear"></div>
      </th>
      <th scope="col"  class="sortable column-Fecha_prestamo">



         <div class="text"><a href="#">Quitar</a></div>
         <div class="clear"></div>
      </th>



      </tr>
      </thead>
      <tbody  id="tabla">

      </tbody>
      </table>
      </div>
      </div>
      <!-- fin tabla-->


    </div>
    <div class="col-3">
      <button onclick="guardarPrestamo()" type="button" class="btn btn-primary">Guardar Prestamo</button>

      <div class="card cardestudiante">
        <div class="card-header"><h4 id="id"></h4></div>
        <img class="card-img-top" src="{% static '/assets/images/foto.jpg' %}" alt="Card image cap">
        <div class="card-body cardestudianteb">
          <h5 class="card-title" id="nomb"></h5>
          <h6 class="card-title" id="depe"></h6>
          <h6 class="card-title" id="sede"></h6>
        </div>
      </div>

    </div>
</div>
</div>

<script type="text/javascript" src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
<script type="text/javascript" src="{% static '/assets/js/prestamo.js' %}"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>
function guardarPrestamo(){

  var datos = generarJSON();
  var recursos = DRecursos();

  var token = "{{ csrf_token }}"

  axios.post("/api/Prestamo/", datos, {
      headers: {"X-CSRFToken": token}
  })
    .then(function (response) {
      console.log(response);
    })
    .catch(function (error) {
      console.log(error);
    });

    for (i in recursos) {
      var codigo = recursos[i]
      r={
        "Estado_Recurso": "PRESTADO",
      }
      axios.patch("/api/recurso/" + codigo + "/", r, {
          headers: {"X-CSRFToken": token,
          'Content-Type': 'application/json' }
      }).then(function (response) {
          console.log(response);

      }).catch(function (error) {
          console.log(error.response);
      });
    }


  // console.log(token);
return Mensaje(1);
}

function generarJSON(){
  // generaremos el json de los prestamos


  // Seleccionamos los datos de los inputs de formulario
  var date =  new Date();
  var fecha  = date.getFullYear() +"-"+ date.getMonth() + "-" + date.getDate();
  //console.log(fecha);
  var hora = date.getHours() + ":" + date.getMinutes() + ":"+ date.getSeconds();
  //console.log(hora);
  //console.log(this.dbRecursos);
  //console.log(dbRecursos);
  usuario = {{user.id}}
  console.log(usuario)
  var recursos = DRecursos();
  var datos = {
      "Persona" : $("#id").text(),
      //"Persona" :"123",
      "recurso": recursos,
      "Usuario_Prestatario":usuario,
      //"Recurso":[1],
      "Fecha_devolucion": fecha,//$("#FD").val(),
      "Fecha_prestamo": fecha,//generar
      "Hora_prestamo": hora,//generar
      "Hora_devolucion": hora,//$("#HD").val(),
      "Estado_prestamo": "EN CURSO"//generar
  };
  console.log(datos)
  return datos;
};

</script>
{% endblock %}
