{% extends "admin/base_site.html" %}
{% load i18n %}
{% load static %}


{% block extrastyle %}
    <script src="https://use.fontawesome.com/b7fd754cf7.js"></script>
    <link  rel="stylesheet" href="{% static '/assets/css/header.css' %}"/>
    <link  rel="stylesheet" href="{% static '/assets/css/jquery-ui.min.css' %}"/>

    <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <style>
        #suit-nav{
        display: none
        }
    .breadcrumbs{
        display: none;
    }
    #suit-sub-nav {
        display: none !important;
    }
    #user-tools{
        display: none;
    }

    #header {
      padding-bottom: 12px;
    }

    .thead-inverse th {
    background-color: #035a7b;
    }

    .alert{
      background-color: #f8d7da;
    }
    </style>

{% endblock %}

{% block content %}
<div id="cabecera">
  <div id="msj" class="content-wrap">



  <div class="card">
      <div class="card-header" style="background: #035a7b;color:#fff;">
          SELECCIONE CAMPOS A FILTRAR PARA REPORTE
      </div>
      <div class="card-block">
        <form>


        <strong> *Campos Obligatorios</strong>
        <div class="input-group" style="width: 25%;">
          <span class="input-group-addon" id="sizing-addon">DETALLAR REPORTE </span>
        <select class="form-control" name="reporte" id="tipoReporte" onchange="TipoReport()">
          <option value="0">--</option>
          <option value="1">POR INCIDENTES</option>
          <option value="2">POR PRESTAMOS</option>
          <option value="3">POR RECURSOS</option>
        </select>
        </div>
          <br>
  <div class="input-group" id="filtros">
  <span class="input-group-addon" id="sizing-addon2">*FECHA INICIO: </span>
  <input type="text" id="date1" onchange="valid()" class="form-control date" required>
  <span class="input-group-addon" id="sizing-addon2">*FECHA FINAL:  </span>
  <input type="text" id="date2" onchange="" class="form-control date" required>
  <span class="input-group-addon" id="sizing-addon2">ESTADO PRESTAMO: </span>
  <select class="form-control" name="estado" id="select" >
    <option value="0">TODOS</option>
    <option value="1">EN CURSO</option>
    <option value="2">DEVUELTO</option>
  </select>
  <span class="input-group-addon" id="sizing-addon2">*INCIDENTES: </span>
  <select class="form-control" name="incidente" id="selectOne" required>
    <option value="SI">SI</option>
    <option value="NO">NO</option>
    <option value="SOLO INCIDENTES">SOLO INCIDENTES</option>
  </select>
  </div>
  <br>
  <div class="input-group" id="filtros">
    <span class="input-group-addon" id="sizing-addon2">PROGRAMA O DEPENDENCIA: </span>
    <select class="form-control" name="programa" id="select2" >
      <option value="0">TODOS</option>

    </select>
    <span class="input-group-addon" id="sizing-addon2">TIPO PERSONA</span>
    <select class="form-control" name="cargo"  id="select3" >
      <option value="0">TODOS</option>

    </select>
    <span class="input-group-addon" id="sizing-addon2">TIPO DE RECURSO </span>
    <select class="form-control" name="recurso" id="select4" >
      <option value="0">TODOS</option>

    </select>
    <span class="input-group-addon" id="sizing-addon2">MARCA </span>
    <select class="form-control" name="marca" id="select5">
      <option value="0">TODOS</option>

    </select>

  </div>
    <br>
    <br>
    <div>
      <a href="/admin/" class="btn btn-success"><i class="" aria-hidden="true"></i> ATRAS </a>
      <button type="button"  id="gReport" class="btn btn-primary" onclick="generateReport()"> Generar Reporte</button>
      </div>
    </div>
  </div>
  </div>
</div>

<div id="reporte">
        <div id="encabezado" style="display: inline-block; margin-left: 15px">

        </div>
      <h3 style="display: inline-block; float: right"><i class="fa fa-certificate" aria-hidden="true"></i> Reporte General - TI
        <br>
        <small>MONTERIA-CORDOBA </small>
          <br>
        <small>Fecha De Emision: {% now "M-d-y" %} </small>
        <br>
      <small>Emitido Por: {{user.get_full_name}}</small>
      </h3>


<p>
</p>
  <table class="table table-striped table-hover table-bordered">
      <strong id="titulotabla"></strong>
  <thead id="cabezaReporte" class="thead-inverse">

  </thead >
  <tbody id="detallep">

  </tbody>
</table>

  <div>
    <a onclick="imprimir()" style="color: white;"  class="btn btn-success"><i class="fa fa-file-pdf-o" aria-hidden="true"></i> IMPRIMIR </a>
    <a onclick="atras()" style="color: #fff;" class="btn btn-success"><i class="" aria-hidden="true"></i> ATRAS </a>
  </div>
</div>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

  <script src="{% static '/assets/js/jquery.js' %}"></script>
  <script src="{% static '/assets/js/jquery-ui.min.js' %}"></script>
  <script src="{% static '/assets/js/datepicker-es.js' %}"></script>
  <script src="http://momentjs.com/downloads/moment.min.js"></script>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
  <script type="text/javascript" src="{% static '/assets/js/reporte.js' %}"></script>
  <script>

  </script>
{% endblock %}
