{% extends "admin/base_site.html" %}
{% load i18n %}
{% load static %}

{% block extrastyle %}
    <script src="https://use.fontawesome.com/b7fd754cf7.js"></script>
    <link  rel="stylesheet" href="{% static '/assets/css/header.css' %}"/>
    <style>
        #suit-nav{
        display: none
        }
    .breadcrumbs{
        display: none;
    }
    #suit-sub-nav {
        display: none !important;
    }
    #user-tools{
        display: none;
    }

    #header {
      padding-bottom: 12px;
    }

    .thead-inverse th {
    background-color: #035a7b;
  }
    </style>

{% endblock %}
{% block content %}

        <div style="display: inline-block; margin-left: 10px">
          <h4 style="font-size:17px;">{{ r.Nombres }} {{ r.Apellidos }}</h4>
          <p>
            <strong>N° TARJETA:</strong>  {{ r.Nro_Tarjeta }} <br/>
            <strong>DOCUMENTO:</strong> {{ r.Nro_Documento }} <br />
            <strong>DEPENDENCIA: </strong> {{ r.Dependencia }} <br />
            <strong>TIPO PERSONA:</strong> {{ r.Tipo_Persona }}<br />
          </p>
        </div>

      <h3 style="display: inline-block; float: right"> <i class="fa fa-certificate" aria-hidden="true"></i> Reporte Personal - Reporte TI
        <br>
        <small>MONTERIA-CORDOBA </small>
          <br>
        <small>Fecha de emision: {% now "M-d-y" %} </small>
        <br>
      <small>Emitido Por: {{user.get_full_name}}</small>
      </h3>
    <div class="card">

</div>
    <table class="table table-striped table-hover table-bordered">
      <strong><i class="fa fa-list-alt" aria-hidden="true"></i> Detalle & Consolidado Prestamos:</strong>
  <thead class="thead-inverse">
    <tr>
      <th>ID Prestamo</th>
      <th>Cantidad de Recursos</th>
      <th>Estado Prestamo</th>
      <th>Fecha</th>
      <th>Incidente</th>
    </tr>
  </thead >
  <tbody id="detallep">

  </tbody>
</table>
</div>

<p>
  <strong><i class="fa fa-list-alt" aria-hidden="true"></i> Detalle & Consolidado Incidentes :</strong>
</p>

    <table class="table table-striped table-hover table-bordered">
  <thead class="thead-inverse">
    <tr>
      <th>ID Prestamo</th>
      <th>Recurso</th>
      <th>Fecha Incidente</th>
      <th>Tipo Incidente</th>
      <th>Estado</th>
    </tr>
  </thead>
  <tbody id="detalleinci">

  </tbody>
</table>

  <div>
    <a onclick="imprimir()" style="color: white;"  class="btn btn-success"><i class="fa fa-file-pdf-o" aria-hidden="true"></i> IMPRIMIR </a>
    <a href="/admin/personas/personas/" class="btn btn-success"><i class="" aria-hidden="true"></i> ATRAS </a>
  </div>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script>
  var persona = "{{r.Nro_Tarjeta}}"

  function imprimir(){
    window.print()
  }
  console.log(persona)
  axios.get('/api/Prestamo/?Persona__Nro_Tarjeta='+persona)
    .then(function (response) {
      var datos = response.data;
      console.log(datos)
      var contador = 0;
      var totalrecurso = 0;
      var cantincidente = 0;
      for (key in datos){
          var cantrecurso = datos[key].detailprestamo.length;
          totalrecurso = totalrecurso + datos[key].detailprestamo.length
          var incidente ="";
          for(i in datos[key].detailprestamo){
            if(datos[key].detailprestamo[i].Incidentes.length !== 0){
                // console.log(datos[key].detailprestamo[i])
                incidente ="SI";
                break;
            }else{
                // console.log(datos[key].detailprestamo[i])
                incidente ="NO";
            }
          }
          contador=contador+1;
          var row = '<tr class="row1" >' +
                 '<td class="field-Id_prestamo">' + datos[key].Id_prestamo+ "</td>"+
                "<td>" + cantrecurso + "</td>"+
                 "<td>" + datos[key].Estado_prestamo  + "</td>"+
                "<td>" +  datos[key].Fecha_prestamo + "</td>"+
                 "<td>" + incidente + "</td>"+
                 "</tr>";
          $("#detallep").append(row);

          for(i in datos[key].detailprestamo){
            if(datos[key].detailprestamo[i].Incidentes.length !== 0){
                // console.log(datos[key].detailprestamo[i])
                cantincidente = cantincidente + 1;
                for(j in datos[key].detailprestamo[i].Incidentes){
                  var row = '<tr class="row1" >' +
                         '<td class="field-Id_prestamo">' + datos[key].Id_prestamo+ "</td>"+
                        "<td>" + datos[key].detailprestamo[i].Recurso_detalle.nombre_recurso + "</td>"+
                         "<td>" + datos[key].detailprestamo[i].Incidentes[j].Fecha_Incidente + "</td>"+
                         "<td>" + datos[key].detailprestamo[i].Incidentes[j].Tipo_Incidente + "</td>"+
                        "<td>" + datos[key].detailprestamo[i].Incidentes[j].Estado + "</td>"+
                         "</tr>";
                  $("#detalleinci").append(row);
                }
            }
          }
      }

      var total = '<tr class="table-info">'+
          "<td><strong>Total Prestamos: " + contador+"</strong></td>"+
          "<td><strong>Total Recursos: " + totalrecurso+"</strong> </td>"+
          "<td> </td>"+
          "<td> </td>"+
          "<td> </td>"+
      "</tr>"
        $("#detallep").append(total);

        var total2 = '<tr class="table-info">'+
            "<td><strong>Total Incidentes: " + cantincidente +"</strong></td>"+
            "<td> </td>"+
            "<td> </td>"+
            "<td> </td>"+
            "<td> </td>"+
        "</tr>"
          $("#detalleinci").append(total2);
    })
    .catch(function (error) {
      //console.log(error);
    });

  </script>
{% endblock %}
