{% extends "admin/base_site.html" %}
{% load i18n %}
{% load static %}

{% block extrastyle %}
    <script src="https://use.fontawesome.com/b7fd754cf7.js"></script>
    <link  rel="stylesheet" href="{% static '/assets/css/header.css' %}"/>
    <style>
        #suit-nav{
        display: none
        }
    .breadcrumbs{
        display: none;
    }
    #suit-sub-nav {
        display: none !important;
    }
    #user-tools{
        display: none;
    }

    #header {
      padding-bottom: 12px;
    }

    .thead-inverse th {
    background-color: #035a7b;
  }
    </style>

{% endblock %}

{% block content %}
        <div style="display: inline-block; margin-left: 15px">
          <h3 style="font-size:25px;"> {{r.nombre_recurso}}</h3>
          <p>
           <b>ID INCIDENTE: </b>{{r.Id_Incidente}} <br />
            <b>PERSONA: </b> {{r.Persona.Nombres}} {{r.Persona.Apellidos}}<br />
            <b>FECHA: </b> {{r.Fecha_Incidente}}  <br />
            <b> USUARIO PRESTAMISTA: </b>{{r.Prestamo_detalle.Prestamo.Usuario_Prestatario.get_full_name}} <br />
          </p>
        </div>
      <h3 style="display: inline-block; float: right"><i class="fa fa-certificate" aria-hidden="true"></i> Reporte De Incidente - TI
        <br>
        <small>MONTERIA-CORDOBA </small>
          <br>
        <small>Fecha de emision: {% now "M-d-y" %} </small>
        <br>
      <small>Emitido Por: {{user.get_full_name}}</small>
      </h3>
<p>

</p>
    <table class="table table-striped table-hover table-bordered">
      <strong><i class="fa fa-list-alt" aria-hidden="true"></i> Detalle De Incidente</strong>
  <thead class="thead-inverse">
    <tr>
      <th>ID Prestamo</th>
      <th>ID Detalle</th>
      <th>Estado Detalle</th>
      <th>Tipo De Incidente</th>
      <th>Recurso </th>
      <th>Estado Del Incidente</th>
    </tr>
  </thead >
  <tbody id="detallep">
    <td> {{r.Prestamo_detalle.Prestamo}}</td>
    <td> {{r.Prestamo_detalle}}</td>
    <td> {{r.Prestamo_detalle.Estado}}</td>
    <td> {{r.Tipo_Incidente}}</td>
    <td> {{r.Recurso}}</td>
    <td> {{r.Estado}}</td>

  </tbody>
</table>
<div class="card">
<div class="card-block">
    <strong><i class="fa fa-list-alt" aria-hidden="true"></i> Descripciones Incidente</strong><br/><br/>
    <table class="table table-striped table-hover ">
    <thead>
    <tr><th>Id detalle</th>
      <th>Usuario</th>
      <th>Fecha - Hora</th>
      <th>Descripcion</th>
    </tr>
    </thead>
    <tbody id="tabla">

    </tbody>
    </table>
</div>
</div>
</div>

  <div>
    <a onclick="imprimir()" style="color: white;"  class="btn btn-success"><i class="fa fa-file-pdf-o" aria-hidden="true"></i> IMPRIMIR </a>
    <a href="/admin/prestamos/incidente/" class="btn btn-success"><i class="" aria-hidden="true"></i> ATRAS </a>
  </div>

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script>
  function imprimir(){
    window.print()
  }

  var incidente = "{{r.Id_Incidente}}"

  axios.get('/api/Recurso/Incidente/'+ incidente)
    .then(function (response) {
      var datos = response.data
      // console.log(datos)
      for(i in datos.detailincidente){
        var row = '<tr class="row1" >' +
          '<td class="field-Id_prestamo" id="iddetalle">' + datos.detailincidente[i].id+ "</td>"+
          '<td id="idrecurso">' + datos.detailincidente[i].usuario.get_full_name + "</td>"+
          '<td id="nombRecurso" >'+  datos.detailincidente[i].Fecha + "  "+ datos.detailincidente[i].Hora +"</td>"+
          "<td>"+datos.detailincidente[i].descripcion +"</td>"+
          "</tr>";
        $("#tabla").append(row);
      }

     })
    .catch(function (error) {
      //console.log(error);
    });
  </script>
{% endblock %}
