{% extends "admin/base_site.html" %}
{% load i18n %}
{% load static %}


{% block extrastyle %}
    <script src="https://use.fontawesome.com/b7fd754cf7.js"></script>
    <link  rel="stylesheet" href="{% static '/assets/css/header.css' %}"/>
    <link  rel="stylesheet" href="{% static '/assets/css/jquery-ui.min.css' %}"/>
    <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

    <style>
        #suit-nav{
        display: none
        }
    .breadcrumbs{
        display: none;
    }
    #suit-sub-nav {
        display: none !important;
    }
    #user-tools{
        display: none;
    }

    #header {
      padding-bottom: 12px;
    }

    .thead-inverse th {
    background-color: #035a7b;
  }
    </style>

{% endblock %}

{% block content %}
<div id="cabecera">
  <div class="content-wrap">

      <h1>Lista asistencia</h1>

  <div class="card">
      <div class="card-header" style="background: #035a7b;color:#fff;">
          SELECCIONE CAMPOS A FILTRAR PARA REPORTE
      </div>
      <div class="card-block">
        <form>


        <strong> *Campos Obligatorios</strong>
  <div class="input-group">
  <span class="input-group-addon" id="sizing-addon2">*FECHA INICIO: </span>
  <input type="text" id="date1" onchange="valid()" class="form-control date" required>
  <span class="input-group-addon" id="sizing-addon2">*FECHA FINAL:  </span>
  <input type="text" id="date2" onchange="" class="form-control date" required>
  <span class="input-group-addon" id="sizing-addon2">ESTADO PRESTAMO: </span>
  <select class="form-control" id="select0"  onchange="select2()">
    <option value="TODOS">--</option>
    <option value="EN CURSO">EN CURSO</option>
    <option value="DEVUELTO">DEVUELTO</option>
  </select>
  <span class="input-group-addon" id="sizing-addon2">*INCIDENTES: </span>
  <select class="form-control" id="select0"  onchange="select2()"required>
    <option value="NO">NO</option>
    <option value="SI">SI</option>
    <option value="SOLO INCIDENTES">SOLO INCIDENTES</option>
  </select>
  </div>
  <br>
  <div class="input-group">
    <span class="input-group-addon" id="sizing-addon2">PROGRAMA ACADEMICO: </span>
    <select class="form-control" id="select1"  onchange="">
      <option value="0">--</option>

    </select>
    <span class="input-group-addon" id="sizing-addon2">CARGO </span>
    <select class="form-control" id="select2"  onchange="">
      <option value="0">--</option>
      <option value="ESTUDIANTE">ESTUDIANTE</option>
      <option value="ADM O PROFESOR">ADM O PROFESOR</option>
    </select>
    <span class="input-group-addon" id="sizing-addon2">TIPO DE RECURSO </span>
    <select class="form-control" id="select3"  onchange="">
      <option value="0">--</option>

    </select>
    <span class="input-group-addon" id="sizing-addon2">MARCA </span>
    <select class="form-control" id="select4"  onchange="">
      <option value="0">--</option>

    </select>

  </div>
    <br>
    <br>
      <button type="button" style="display:flex;float: right; margin-bottom: 4px;" id="gReport" class="btn btn-primary" onclick="generateReport()"> Generar Reporte</button>
      </div>
  </div>
  </div>
</div>

<div id="reporte">
        <div style="display: inline-block; margin-left: 15px">
          <h3 style="font-size:25px;"> {{r.nombre_recurso}}</h3>
          <p>
           <b>ID: </b>{{r.Id_recurso}} <br />
            <b>TIPO: </b> {{r.tipo_de_recurso}} <br />
            <b>MARCA: </b> {{r.Marca}} <br />
            <b>N° DE SERIE: </b> {% if r.Numero_Serie != none %} {{r.Numero_Serie}} {% else %} {% endif %}<br />
            <b>ESTADO: </b> {{r.Estado_Recurso}} <br />
            <b>FECHA REGISTRO: </b>{{r.fecha_registro}} <br />
          </p>
        </div>
      <h3 style="display: inline-block; float: right"><i class="fa fa-certificate" aria-hidden="true"></i> Reporte De Recurso - TI
        <br>
        <small>MONTERIA-CORDOBA </small>
          <br>
        <small>Fecha de emision: {% now "M-d-y" %} </small>
        <br>
      <small>Emitido Por: {{user.get_full_name}}</small>
      </h3>

    <div class="card">
  <div class="card-block">

  </div>
</div>
<p>

</p>
    <table class="table table-striped table-hover table-bordered">
      <strong><i class="fa fa-list-alt" aria-hidden="true"></i> Detalle & Consolidado Prestamos:</strong>
  <thead class="thead-inverse">
    <tr>
      <th>Prestamo</th>
      <th>Persona Prestamo</th>
      <th>Usuario Prestamo</th>
      <th>Estado Prestamo</th>
      <th>Fecha Prestamo</th>
      <th>Incidente</th>
    </tr>
  </thead >
  <tbody id="detallep">
  </tbody>
</table>

<p>
  <strong><i class="fa fa-list-alt" aria-hidden="true"></i> Detalle & Consolidado Incidentes :</strong>

</p>

    <table class="table table-striped table-hover table-bordered">
  <thead class="thead-inverse">
    <tr>
      <th>ID Prestamo</th>
      <th>Recurso</th>
      <th>Fecha Incidente</th>
      <th>Tipo Incidente</th>
      <th>Estado</th>
      <th>Descripción</th>
    </tr>
  </thead>
  <tbody id="detalleinci">



  </tbody>
</table>

  <div>
    <a onclick="imprimir()" style="color: white;"  class="btn btn-success"><i class="fa fa-file-pdf-o" aria-hidden="true"></i> IMPRIMIR </a>
    <a href="/admin/recursos/recurso/" class="btn btn-success"><i class="" aria-hidden="true"></i> ATRAS </a>
  </div>
</div>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>

  <script src="{% static '/assets/js/jquery.js' %}"></script>
  <script src="{% static '/assets/js/jquery-ui.min.js' %}"></script>
  <script src="{% static '/assets/js/datepicker-es.js' %}"></script>
  <script src="http://momentjs.com/downloads/moment.min.js"></script>

  <script type="text/javascript" src="{% static '/assets/js/reporte.js' %}"></script>
  <script>

  </script>
{% endblock %}
