/* CSS design by @jofpin */
@import url(http://fonts.googleapis.com/css?family=Raleway|Varela+Round|Coda);
@import url(http://weloveiconfonts.com/api/?family=entypo);

[class*="entypo-"]:before {
  font-family: 'entypo', sans-serif;
}



}
h1 {
    font-size: 30px;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    line-height: 30px;
    font-weight: lighter;
    text-align: center;
    margin: 0px auto;
   !important;
    text-shadow: 0px 1px 0px rgba(255,255,255,0.3);
}

.title-pen {
  color: #333;
  font-family: "Coda", sans-serif;
  text-align: center;
}
.title-pen span {
  color: #55acee;
}

.shelf{
  background:white; height: 400px; width:620px;
  display: none;


}

.total {
  display: none;
}

.item{

  width: 30%;
  display: none;
  height: 50%;
  text-align: center;
}

.item > img {
  margin: 0 auto;

  width: 100px;
}

.item > .detail {
  background: #eee;
}

h2, p{
  margin: 0;
}

.user-profile {
  float: right;
	width: 25em;
  height: 11em;
  background: #fff;
  border-radius: .3em;
}

.user-profile  .username {
  margin: auto;
  margin-top: -4.40em;
  margin-left: 5.80em;
  color: #658585;
  font-size: 1.53em;
  font-family: "Coda", sans-serif;
  font-weight: bold;
}
.user-profile  .bio {
  margin: auto;
  display: inline-block;
  margin-left: 10.43em;
  color: #e76043;
  font-size: .87em;
  font-family: "varela round", sans-serif;
}
.user-profile > .description {
  margin: auto;
  margin-top: 1.35em;
  margin-right: 4.43em;
  width: 14em;
  color: #c0c5c5;
  font-size: .87em;
  font-family: "varela round", sans-serif;
}
.user-profile > img.avatar {
	padding: .7em;
  margin-left: .3em;
  margin-top: .3em;
  height: 6.23em;
  width: 6.23em;
  border-radius: 18em;
}

.rfid{
  float: right;

}

.user-profile ul.data {
	margin: 2em auto;
	height: 3.70em;
  background: #eee;
  text-align: center;
  border-radius: 0 0 .3em .3em;
}
.user-profile li {
	margin: 0 auto;
  padding: 1.30em;
  width: 33.33334%;
  display: table-cell;
  text-align: center;
}

.user-profile span {
	font-family: "varela round", sans-serif;
	color:black!;
  white-space: nowrap;
  font-size: 1.27em;
  font-weight: bold;
}
.user-profile span:hover {
  color: #daebea;
}

footer > h1 {
  display: block;
  text-align: center;
  clear: both;
  font-family: "Coda", sans-serif;
  color: #343f3d;
  line-height: 6;
  font-size: 1.6em;
}
footer > h1 a {
  text-decoration: none;
  color: #ea4c89;
}

.loader-box{
	width:200px;
	height:200px;
	margin:auto;
	-moz-border-radius:5px;
	-webkit-border-radius:5px;
	border-radius:5px;
	background-color:transparent;
	margin-top:100px;
	text-align:center;
}

.lable{
	height:30px;
	line-height:30px;
	padding-top:20px;
	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #035a7b;
	font-size:20px;
}

.loader{
	width:90px;
	height:90px;
	background-color:transparent;
	overflow:hidden;
	display:block;
	-moz-border-radius:100%;
	-webkit-border-radius:100%;
	border-radius:100%;
	border:3px solid #5dba9d;
	position:relative;
	margin:15px auto;
  z-index:1;
}

.element-animation{
  animation:animationFrames linear 2s;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards; /*when the spec is finished*/
  -webkit-animation: animationFrames linear 2s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-fill-mode:forwards; /*Chrome 16+, Safari 4+*/
  -moz-animation: animationFrames linear 2s;
  -moz-animation-iteration-count: infinite;
  -moz-animation-fill-mode:forwards; /*FF 5+*/
  -o-animation: animationFrames linear 2s;
  -o-animation-iteration-count: infinite;
  -o-animation-fill-mode:forwards; /*Not implemented yet*/
  -ms-animation: animationFrames linear 2s;
  -ms-animation-iteration-count: infinite;
  -ms-animation-fill-mode:forwards; /*IE 10+*/
}


@keyframes animationFrames{
  0% {
    transform: translate(-1160px,15px)  ;
  }
  100% {
    transform: translate(0px,15px)  ;
  }
}

@-moz-keyframes animationFrames{
  0% {
    transform: translate(-1160px,15px)  ;
  }
  100% {
    transform: translate(0px,15px)  ;
  }
}

@-webkit-keyframes animationFrames {
  0% {
    transform: translate(-1160px,15px)  ;
  }
  100% {
    transform: translate(0px,15px)  ;
  }
}

@-o-keyframes animationFrames {
  0% {
    transform: translate(-1160px,15px)  ;
  }
  100% {
    transform: translate(-0px,15px)  ;
  }
}

@-ms-keyframes animationFrames {
  0% {
    transform: translate(-1160px,15px)  ;
  }
  100% {
    transform: translate(0px,15px)  ;
  }
}
.container {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100vh;
}

.chevron {
  position: absolute;
  width: 2.1rem;
  height: 0.48rem;
  opacity: 0;
  -webkit-transform: scale(0.3);
          transform: scale(0.3);
  -webkit-animation: move-chevron 3s ease-out infinite;
          animation: move-chevron 3s ease-out infinite;
}

.chevron:first-child {
  -webkit-animation: move-chevron 3s ease-out 1s infinite;
          animation: move-chevron 3s ease-out 1s infinite;
}

.chevron:nth-child(2) {
  -webkit-animation: move-chevron 3s ease-out 2s infinite;
          animation: move-chevron 3s ease-out 2s infinite;
}

.chevron:before,
.chevron:after {
  content: '';
  position: absolute;
  top: 0;
  height: 100%;
  width: 50%;
  background: #2c3e50;
}

.chevron:before {
  left: 0;
  -webkit-transform: skewY(30deg);
          transform: skewY(30deg);
}

.chevron:after {
  right: 0;
  width: 50%;
  -webkit-transform: skewY(-30deg);
          transform: skewY(-30deg);
}

@-webkit-keyframes move-chevron {
  25% {
    opacity: 1;
  }
  33.3% {
    opacity: 1;
    -webkit-transform: translateY(2.28rem);
            transform: translateY(2.28rem);
  }
  66.6% {
    opacity: 1;
    -webkit-transform: translateY(3.12rem);
            transform: translateY(3.12rem);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(4.8rem) scale(0.5);
            transform: translateY(4.8rem) scale(0.5);
  }
}

@keyframes move-chevron {
  25% {
    opacity: 1;
  }
  33.3% {
    opacity: 1;
    -webkit-transform: translateY(2.28rem);
            transform: translateY(2.28rem);
  }
  66.6% {
    opacity: 1;
    -webkit-transform: translateY(3.12rem);
            transform: translateY(3.12rem);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(4.8rem) scale(0.5);
            transform: translateY(4.8rem) scale(0.5);
  }
}
.button {
  z-index: 99;
  position: absolute;
  width: 80%;
  top: 50%;
  left: 50%;
  display: none;
  border-radius: 100%;
  transform: translate(-50%, -50%);
  background-color: #63caff;
  cursor: pointer;
}

.button:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.button:hover + .button-outline {
  width: 85%;
}

.button-outline {
  position: absolute;
  width: 75%;
  display: none;
  top: 50%;
  left: 50%;
  border-radius: 100%;
  border: 7px solid #63caff;
  transform: translate(-50%, -50%);
  transition: all 0.25s cubic-bezier(.7, .11, .32, 2);
}

.button-outline:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.button-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -55%);
  font-size: 96px;
  font-family: "Open Sans", sans-serif;
  color: white;
}

.button-container {
  position: relative;
  margin: 0 auto;
  width: 400px;
}

.button-container:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.cardestudiante {
  background-color: #035a7b !important;
}

.cardestudianteb{
      color: #fff !important;
      text-align-last: center;
}

.cardrecursos{
    background-color: #035a7b !important;
}

.cardrecursosb{
    background-color: #fff !important;
}

div.card-header.cardprod {
    color: #12c454 !important;
}

.detalle {
  background-color: #035a7b !important;
}
